body {
    background-color: darkcyan;
    padding-top: 2.5rem;
}

img {
    /* for image sizing you do not want to modify both the height && width. You should only modify one or the other */
    width: 16rem;
}

hr {
    width: 32vw;
    border: 4px solid white;
    /* height: 0.3rem; height is a property you normally do not use for hr's (horizontal lines) */
    border-style: dotted;
}

div#container {
    padding: 0 28rem;
    background-image: url(images/Pancake-board-2.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    height: 40vw;
    background-size: contain;
}

#container section, footer {
    color: rgb(5, 5, 14);
}

/* nav || #topnav || .navigation */
#topnav {
    background-color: lightsteelblue;
    height: 2.5rem;
    position: fixed;
    width: 94vw;
    padding: 25px 40px 0px;
    top: 0;
    left: 0;
}
 
#content {
    margin-top: 45px;
}

.navigation span {
    margin: 0 10.9rem;
}
   